/* Universal CSS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: fantasy;

}

body {
    background-color: black;
}
/* Header styling */

header{
    display: flex;
    align-content: center;
    justify-content: space-between;
    color:#ffffff

    
}

.header-flex {
    padding: 20px;
    display: flex;
    width: 50%;
    flex-direction: row;
}
.title {
    text-align: center;
    padding: 20px;
    margin: auto 0;
    align-items: center;

}

header h2 {
    font-size: 25px;
    padding: 5px;
    font-weight: lighter;
}

header h1 {
    font-size: 50px;
}
/* nav bar styling */
.nav {
    display: flex;
    margin: auto 0;
    padding: 10px;
    align-items: center;
}

.nav ul {
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    margin-top: auto;
    flex-direction: row;
    margin-bottom: auto;
    margin-right: 20px;
    float: right;
    font-size: 20px;
    font-family: ;
    list-style-type: none;
}

.nav li {
    margin-left: 25px;
    display: inline-block;

}
.nav li a {
    color:#ffffff;
    text-decoration: none;
}

.nav li a:hover {
    color: var(--green);
}
/* about styling */

.headshot {
    height: 320px;
    width: 450px;
    border-radius: 10%;
}

.info {
    margin-left: 15px;
}

section p {
    display: flex;
    margin: auto 0;
}

/* section styling */
section {
    margin: 10%;
    display: flex;
    flex-direction: row;
}

section h2 {
    text-align: right;
    margin: 0 auto;
    font-size: 40px;
}

section article {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    width: 100vw;
    align-items: left;
    border-left: 5px solid greenyellow;
}

/* footer styling */

footer {
    color: white;
    background-color: darkgreen;
    padding: 5px;
    text-align: center;
}

footer p {
    padding-top: 2px;
}

footer h5 {
    padding-bottom: 2px;
}





.div_header{
    width: 30%;
    margin-top: 20px;
    margin-left: 20px;
}
#user{
    width: 200px;
}
.links{
    justify-content: left;
      align-items: flex-start;
      background-repeat: no-repeat;
      width: 100%;
      margin-top: 10px;
}
ul{
    display: flex;
    position: absolute;
    right: 20%;
}
li{
    margin-left: 20px;
    list-style: none;
}
li a{
    font-size: 20px;
    color: white;
    text-decoration: none;

}
.about, .work, .contact{
    display: flex;
    margin-left: 20px;
    margin-top: 20px;
}
.about_content, .work_content, .contact_content{
    margin-left: 20px;
    width: 70%;
    margin-top: 30px;
    color: white;
    
}
#img_first{
    width: 100%;
    height: 200px;
}
.img_title{
    background: green;
    padding: 10px;
}
.other_works{
    display: flex;
    flex-flow: wrap;
}
.div_work{
    width: 48%;
    margin-right: 10px;
}
.img_other{
    width: 100%;
    height: 200px;

}
.contact a{
    color: blue;
    margin: 20px;
    font-size: 20px;
}
.contact{
    margin-bottom: 30px;
    color:green;
    font-size: larger;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.contact label{
    font-size: 20px;
    font-weight: bold;
}

















