/* Universal CSS */

*{
    
    box-sizing: border-box;
    color: white;
    font-family: fantasy;

}

:root{
    --background: black;
    --green: green;
    --black: yellow;
    --grey: antique white;


}

body {
    background-color: var(--background);
}
/* Header styling */

header{
    display: flex;
    align-content: center;
    justify-content:space-between;
    color: #ffffff;
    background-color: var(--grey);
    
}
.header-flex {
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.title {
    text-align: left;
    padding: 20px;
    margin: auto 0;
    align-items: center;
    

}

header h2 {
    font-size: 25px;
    padding: 5px;
    font-weight: lighter;
}

header h1 {
    font-size: 50px;
}


/* nav bar styling */
.nav {
    display: flex;
    margin: auto 0;
    padding: 10px;
    align-items: center;
}

.nav ul {
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    margin-top: auto;
    flex-direction: row;
    margin-bottom: auto;
    margin-right: 20px;
    float: right;
    font-size: 20px;
    font-family: fantasy;
    list-style-type: none;
}

.nav li {
    margin-left: 25px;
    display: inline-block;

}
.nav li a {
    color:#ffffff;
    text-decoration: none;
}

.nav li a:hover {
    color: var(--green);
}
/* about styling */

.headshot {
    height: 320px;
    width: 450px;
    border-radius: 10%;
}

.info {
    margin-left: 15px;
}

section p {
    display: flex;
    margin: auto 0;
}

/* section styling */
section {
    margin: 10%;
    display: flex;
    flex-direction: row;
}

section h2 {
    text-align: right;
    margin: 0 auto;
    font-size: 40px;
}

section article {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    width: 100vw;
    align-items: left;
    border-left: 5px solid greenyellow;
}

/* footer styling */

footer {
    color: white;
    background-color: darkgreen;
    padding: 5px;
    text-align: center;
}

footer p {
    padding-top: 2px;
}

footer h5 {
    padding-bottom: 2px;
}


/* contact sytling */

.navcontact {
    margin: auto 0;
    align-items: center;
    width: 100%
}

.navcontact li a{
    text-decoration: none;
    color:aliceblue;
}

.navcontact li a:hover {
    font-size: 25px;
    color: aquamarine;

}

.navcontact ul {
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    flex-direction: row;
    list-style-type: none;
    margin: auto o;
    font-weight: bold;
    font-size: 22px;
    font-family: fantasy;

}
/* project styling */

.work_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.work_content a{
    width: 100%;
    display: flex;
    font-size: 21px;
    position: relative;
    color:aliceblue;
    text-align: center;
    margin: 16px;
    text-decoration: none;
}

.work_content figure{
    background-size: 300px;
    border: 5px solid black;
}

.work_content figure:hover img{
    filter: contrast(50%);
}

.project2 img{
    width: 100%;
}

.rows{
    margin: 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.rows img {
    height: auto;
    width: 100%;
}


.techie {
    border-radius: 50%;
    display: flex;
    width: 150px;
    height: 150px;
    flex-direction: column;
}

/* Media Query to style responsiveness*/
@media screen and (max-width: 480px) {
    * {
      align-items: center;
      margin:auto;
    }
  
    header{
      flex-direction: column;
      align-items: center;
    }

    .title h1{
        font-size: 35px;
    }

    .techie{
        width: 99px;
        height: 99px;
    }
     .title h2{
        padding: 5px;
     }

     .header-flex{
        margin-left: 0;
     }

     .nav ul li a{
        font-size: 11px;

     }

    .headshot {
        margin-bottom: 6px;
        width: 250px;
        height: 200px;
    }

    section {
        flex-direction: column;
        display: flex;
    }

    section article {
        border-left: 0px;
        display: flex;
        padding-bottom: 0px;
        flex-direction: column;
        width: 100%;
        padding-left: 0px;
        padding-top: 10px;
        border-top: 5px whitesmoke;
        align-items: center;

    }

}
